@import url("components/card.css");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card-underbanner.css");
@import url("components/button.css");
@import url("components/card1.css");
@import url("components/card2.css");

body{

	margin: 0 auto;
	background-image: linear-gradient(-225deg,rgba(0,255,0,0.2), rgba(0,0,255,0.2)), url(../../images/background.jpg);
}


a{
	text-decoration: none;
}